body {
    overflow: hidden;
    background-color: rgb(219, 32, 203);
    background: radial-gradient(circle, #000000 0%, #b84e93 100%);
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.mic::before,
.mic::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px#e6e1e1;
}

.mic::before {
    width: 400px;
    height: 400px;
    background: #000000;
}

.mic::after {
    width: 250px;
    height: 250px;
    background-color: #151515;
    animation: circle-size 0.8slinear infinite absolute;
}

.mic-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    display: block;
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 20px;
    z-index: 3;
}

.mic-icon::before,
.mic-icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.mic-icon::before {
    width: 2px;
    height: 5px;
    top: calc(100% + 1px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(233, 233, 233);
}

.mic-icon::after {
    border: 2px solid;
    width: 8px;
    height: 18px;
    left: 50%;
    top: -10px;
    border-radius: 4px;
    transform: translate(-50%, 0);
}

.mic-shadow {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 10px -55px 30px 15px #fff9f9, 24px -10px 47px 10px #f6f7ff, -21px -25px 97px 10px#fffdfd, 51px 5px 17px 10px #c24f7b14, 3px 2px 77px 10px#000000;
    animation: shadow-rotate 1.5s linear infinite;
    transform-origin: center;
}

@keyframes circle-size {
    from {
        width: 250px;
        height: 250px;
    }
    to {
        width: 300px;
        height: 300px;
    }
}

@keyframes shadow-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}